# Konfigurasi Aplikasi
APP_NAME="Se.Noesa Web"
APP_ENV=local
APP_URL=http://localhost:3000

# Konfigurasi Basis Data PostgreSQL
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=db_senoesa
DB_USERNAME=postgres
DB_PASSWORD=postgres